
 .text-field fieldset{
  border-color: #1d72e7 ;
  border-width: 2px;
}




.MuiInputBase-colorPrimary:hover
.MuiOutlinedInput-notchedOutline{
  border-color: #1d72e7 !important;
}


.MuiInputBase-colorPrimary.Mui-focused
.MuiOutlinedInput-notchedOutline{
  border-color: #1d72e7 !important;
  
}
span{
  color: #1d72e7;
}
