
 .text-field  .css-igs3ac{
  border-color: #1d72e7 ;
  border-width: 2px;
}



.css-1v4ccyo:hover 
.MuiOutlinedInput-notchedOutline{
  border-color: #1d72e7 !important;
}

.css-1v4ccyo.Mui-focused
.MuiOutlinedInput-notchedOutline {
  border-color: #1d72e7 !important;
  
}
span{
  color: #1d72e7;
}
